extends layout

block content
  h1(id="h1") Chat
  form(id="chat")
    select(id="selectRoom")
      option(value="all") Sala de chat todos
      -for(var i = 1;i<10;i++){
      option(value=i) Sala de chat #{i}
      -}
    div(id="chatBox" style="border:1px solid #000; height:300px") #{text}
    br
    label Autor:&nbsp;
    input(type="text" id="autor" placeholder="" required)
    br
    br
    label Mensaje:&nbsp;
    input(type="text" id="msg" style="width:750px" placeholder="" required)
    br
    br
    input(type="submit" value="Enviar")
    
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='/js/chat.js')
