extends layout

block content
    h1 Crear Incidencia
    form(method='post', action='/enviarFormulari')
        label Nombre:
        br
        input#nombre(type='text' name="nombre")
        br
        br
        label DNI:
        br
        input#dni(type='text' name="dni")
        br
        br
        label Tipo de incidencia:
        br
        select#tipo(name="tipo")
            option(value="Docker no funciona") Docker no funciona
            option(value="No es posible conectar con la base de datos") No es posible conectar con la base de datos
            option(value="Error 404") Error 404
        br
        br
        label Urgencia:
        br
        select#urgencia(name="urgencia")
            option(value="Bajo") Bajo
            option(value="Medio") Medio
            option(value="Alto") Alto
        br
        br
        label Descripción:
        br
        textarea#descripcion(type='text' name="descripcion" style="width:750px; height:250px")
        br
        br
        input(type="submit" value="Enviar")