doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    script(type='text/javascript' src='/js/jquery-3.6.0.min.js')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-5
      a.btn(href='/incidencias') Crear Incidencias 
      a.btn(href='/listaIncidencias') Lista Incidencias
      a.btn(href='/chat') Chat
    .container
    block content
